body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0px 10px 0 10px; /* top right bottom left */
    min-width: 800px;
    min-height: 600px;
}
/* You can add global styles to this file, and also import other style files */
